---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">
			.header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 3rem;

				h1 {
					margin: 0;
				}
			}
			.handle {
				font-style: italic;
				font-weight: 300;
			}
			.content {
				color: var(--text);
			}

			.content > p,
			.content > blockquote {
				margin: 0.5rem 0;
			}

			.menu {
				margin-top: 3rem;
			}
			.menu > ul {
				list-style: none;
				padding-left: 0;
			}
		</style>
	</head>
	<body>
		<main>
			<div class="header">
				<h1>ジーユー <span class="handle">/ rolemadelen</span></h1>
				<div class="i18n">
					<a href="/">
						<span>가</span>
					</a>
				</div>
			</div>
			<div class="content">
				<p>頭の中の妄想や思考、そして散らばった知識の断片を記録します。</p>
				<blockquote>記録をする人達へ祝福を。</blockquote>

				<div class="menu">
					<ul role="navigation">
						<li><a href="/notes">記録</a></li>
					</ul>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
