.post {
    font-family: inherit;
    max-width: 600px;
    margin: 5rem auto 10rem auto;
    padding: 0 1rem;

    h1, h2, h3 {
        font-size: 1rem;
    }

    &__header {
        margin-bottom: 3rem;

        h1, h2, h3 {
            font-weight: bold;
            margin-bottom: 0.5rem;
            line-height: 1.25;
        }
        .date {
            color: #777;
        }
    }

    p {
        line-height: 1.75;

        & > code {
            background-color: #dcdcdc;
            padding: 0.15rem 0.25rem;
            border-radius: 0.15rem;
        }
    }

    a {
        color: #4169e1;
        text-decoration: none;

        &:hover {
            color: #de3e5d;
        }

        transition: color 0.2s ease;
    }

    pre > code {
        max-width: 600px;
        width: 100%;
        display: inline-block;
        overflow-x: scroll;

        box-shadow: 0 0 3px 0 #b8b8b8;
        border-radius: 0.25rem;
        padding: 0.5rem;
    }

}