/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--link: #4268bc;
	--sm: 0.875rem;
	--max-width: 600px;

	--black: #4f4f4f;
	--text: #666;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--black);
	font-size: 1rem;
	line-height: 1.75;
}
main {
	width: var(--max-width);
	max-width: calc(100% - 2em);
	margin: 3rem auto;
	padding: 3em 1em;
}
footer {
	max-width: var(--max-width);
}

h1, h2, h3 {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 3rem;
	margin-bottom: 0;
}

ul, ol {
	padding-left: 1rem;
	margin-bottom: 2rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin: 0;
}

strong,
b {
	font-weight: 700;
}
a {
	/* color: var(--link); */
	color: var(--text);
	text-decoration-color: #d9d9d9;
	text-underline-offset: 3px;
	padding: 0.2rem 0.1rem;
	border-radius: 3px;
}
a:hover {
	background-color: rgb(var(--gray-light));
}
a > span {
	font-size: 0.8rem;
}
p {
	margin: 1rem 0;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1rem;
	border-radius: 8px;
}
pre > code {
	all: unset;
}

blockquote {
	font-family: 'Times New Roman', Times, serif;
	margin: 2rem 0;
}
blockquote::before {
	content: open-quote;
}
blockquote::after {
	content: close-quote;
}
blockquote > p {
	margin: 0;
	display: inline;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
