@font-face {
    font-family: 'Satoshi';
    font-weight: 900;
    font-display: swap;
    src:
      local('Satoshi-Black'),
      url(./OTF/Satoshi-Black.otf) format('otf'),
  }
  
  @font-face {
    font-family: 'Satoshi';
    font-weight: 700;
    font-display: swap;
    src:
      local('Satoshi-Bold'),
      url(./OTF/Satoshi-Bold.otf) format('otf'),
  }
  
  @font-face {
    font-family: 'Satoshi';
    font-weight: 500;
    font-display: swap;
    src:
      local('Satoshi-Medium'),
      url(./OTF/Satoshi-Medium.otf) format('otf'),
  }
  
  @font-face {
    font-family: 'Satoshi';
    font-weight: 400;
    font-display: swap;
    src:
      local('Satoshi-Regular'),
      url(./OTF/Satoshi-Regular.otf) format('otf'),
  }
  

  @font-face {
    font-family: 'Satoshi';
    font-weight: 300;
    font-display: swap;
    src:
      local('Satoshi-Light'),
      url(./OTF/Satoshi-Light.otf) format('otf'),
  }