.hide {
    max-width: 0 !important;
}

.toc {

    & > * {
        margin: 0;
        padding: 0;
    }

    position: absolute;
    left: 0;
    background-color: #f0f0f0;
    max-width: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;

    .list {
        &__item {
            padding: 0.5rem 1rem;
            // white-space: nowrap;
            font-size: 0.9rem;

            &:hover {
                background-color: #4169e1;
                color: #fefefe;
            }
            & > a {
                color: inherit;
                text-decoration: none;

                // &:hover {
                //     color: #fff;
                // }
                // transition: color 0.2s ease-in-out;
            }
        }
    }
}