---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">
			.header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 3rem;
			}
			.handle {
				font-style: italic;
				font-weight: 300;
				font-size: 0.875rem;
			}
			.content {
				color: var(--text);
			}

			.content > p,
			.content > blockquote {
				margin: 0.5rem 0;
			}

			.menu {
				margin-top: 3rem;
			}
			.menu > ul {
				list-style: none;
				padding-left: 0;
			}
		</style>
	</head>
	<body>
		<main>
			<div class="header">
				<h1>{t('home.name')} <span class="handle">/ rolemadelen</span></h1>
				<div class="i18n">
					<a href="/ja">
						<span>{t('home.lang')}</span>
					</a>
				</div>
			</div>
			<div class="content">
				<p>{t('home.text')}</p>
				<blockquote>{t('home.quote')}</blockquote>

				<div class="menu">
					<ul role="navigation">
						<li><a href="/notes">{t('home.menu1')}</a></li>
					</ul>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
