---
import backlinks from "./backlinks.json"
import categories from "./categories.json"

const currentPath = decodeURIComponent(Astro.url.pathname.split('/')[2]);
const refs = Object.keys(backlinks).filter(key => backlinks[key].includes(currentPath));
const capitalizeFirstLetter = (s: string) => s.charAt(0).toUpperCase() + s.slice(1)
---

<style lang="scss">
    .bounds {
        margin-top: 7rem;
        padding-top: 2rem;
        font-size: 0.85rem;
        border-top: 1px solid #f9f9f9;
    }

</style>
<div class="bounds">
    {refs.length > 0 && (
        <div>Backlinks:</div>
        <ul>
            {refs.map(ref => (
                <li key={ref}>
                    <a href={`/${categories[ref]}/${ref}`}>{capitalizeFirstLetter(ref.split('-').join(' '))}</a>
                </li>
            ))}
        </ul>
    )}
</div>