---
import noteLinks from "./backlinks.json"

const currentPath = decodeURIComponent(Astro.url.pathname.split('/')[2]);
const backlinks = Object.keys(noteLinks).filter(key => noteLinks[key].includes(currentPath));

---

<style lang="scss">
    .bounds {
        margin-top: 8rem;
    }

</style>
<div class="bounds">
    {backlinks.length > 0 && (
        <div>This note was mentioned in...</div>
        <ul>
            {backlinks.map(link => (
                <li key={link}>
                    <a href={`/notes/${link}`}>{link.split('_').join(' ')}</a>
                </li>
            ))}
        </ul>
    )}
</div>