---
import backlinks from "./backlinks.json"
import categories from "./categories.json"
import mappings from "./mappings.json"

const path = Astro.url.pathname.split('/')
const currentPath = decodeURIComponent(path[path.length-2]);
const refs = Object.keys(backlinks).filter(key => backlinks[key].includes(currentPath));
---

<style lang="scss">
    .bounds {
        margin-top: 7rem;
        padding-top: 2rem;
        font-size: 0.85rem;
        border-top: 1px solid #f9f9f9;
    }

</style>
<div class="bounds">
    {refs.length > 0 && (
        <div>Backlinks:</div>
        <ul>
            {refs.map(ref => (
                <li>
                    <a href={`/${categories[ref]}/${ref}/`}>{`${ref.split('-')[0]} - ${mappings[ref] ?? 0}`}</a>
                </li>
            ))}
        </ul>
    )}
</div>