---
const today = new Date();
---

<footer>
	<hr />
	&copy; {today.getFullYear()} by <a href="/">Jii Yoo</a>. Licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1">CC BY 4.0</a>.
</footer>
<style>
	footer {
		font-size: 0.8rem;
		text-align:right;
		margin: 3rem auto;
		padding: 0.5rem;
	}
</style>
