<style>

    #output {
        font-weight: bold;
    }
</style>

<script>
    function isPrime(k) {
        if (k <= 1) return "NO";
        if (k === 2 || k === 3) return "YES";
        if (k % 2 === 0 || k % 3 === 0) return "NO";

        for (let i = 5; i * i <= k; i += 6) {
        if (k % i === 0 || k % (i + 2) === 0) return "NO";
        }

        return "YES";
    };

    const input = document.getElementById('input');
    const output = document.getElementById('output');
    
    const inputHandler = () => {
        let num = Number(input.value);
        if(num < 1) {
            num = 1;
            output.innerText = num;
        }
        if(num > 9007199254740881) {
            num = 9007199254740881;
            output.innerText = num;
        }
        output.innerText = isPrime(num)
    }

    input.addEventListener('input', inputHandler);
    input.addEventListener('propertychange', inputHandler);

</script>

<div>
    <h2>Try it out:</h2>
    Is <input id="input" type="number" min="0" max="9007199254740882" inputmode="numeric" pattern="[0-9]*"></input> a prime?
    <span id="output"></span>
</div>