---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const posts = (await getCollection('note')).sort((a, b) => {
	const category_compare = a.data.category.localeCompare(b.data.category);

	if (category_compare === 0) {
		const dateA = new Date(a.data.updatedDate ? a.data.updatedDate : a.data.pubDate).getTime()
		const dateB = new Date(b.data.updatedDate ? b.data.updatedDate : b.data.pubDate).getTime()

		if (dateA > dateB) return 1
		if (dateA < dateB) return -1
		if (dateA == dateB) return 0
	}

	return category_compare
});

---

<!doctype html>
<html lang="en">
	<head>
		<title>note | jiiyoo.me</title>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">
			.header {
				margin-bottom: 3rem;
				
				& > span,
				.menu {
					font-size: var(--sm);
				}
			}
			
			.posts {
				a {
					text-decoration: none;
					display: block;
					
					&:hover {
						background-color: inherit;
					}
					
					& span {
						padding: 0.2rem;
						transition: all 0.2s ease-in-out;
					}
				}
				
				& > ul {
					padding: 0;
				}
				
				li {
					list-style: none;
					transition: opacity 0.2s ease;
					margin-bottom: 0.5rem;

					&:hover{
						a span {
							background-color: rgb(var(--gray-light));
							border-radius: 3px;
						}
					}
				}

				.head {
					margin-bottom: 0.5rem;
				}
			}

			.navi {
				display: flex;
				align-items: center;
				
				a {
					color: inherit;
					font-size: var(--sm);
				}

				.by {
					font-size: var(--xs);
				}
			}

			.separator {
				margin: 0 0.5rem;
			}

			.category {
				display: block;
				font-size: var(--xs);
				text-transform: lowercase;
				color: #aaa;
				margin-left: 0.25rem;
				transition: all 0.2s ease;
			}
		</style>
	</head>
	<body>
		<main>
			<section>
				<div class="header">
					<h1>{t('home.menu2')['title']}</h1>
					<span>{t('home.menu2')['exp']}</span>
					<div class="navi">
						<div class="author">
							<span class="by">by</span>
							<a href="/">{t('home.name')}</a>
						</div>
						<span class="separator"> … </span>
						<div class="navi_item">
							<a href="/writing">{t('home.menu1')['title']}</a>
						</div>
					</div>
				</div>
				<div class="posts">
					<ul>
						{
							posts.map((post) => (
								<li>
									<a href={`/note/${post.slug}/`}>
										<div class="head">
											<div class="category">{post.data.category ? post.data.category : "note"}</div>
											<span>{post.data.title}</span>
										</div>
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
