---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

// const posts = (await getCollection('writing')).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
const posts = (await getCollection('writing')).sort((a, b) => {
    const titleA = a.data.title.toUpperCase();
    const titleB = b.data.title.toUpperCase();
    if (titleA < titleB) {
        return -1; 
    }
    if (titleA > titleB) {
        return 1;
    }
    return 0;
});

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">
			.header {
				margin-bottom: 3rem;
				
				.menu {
					font-size: 0.875rem;

					a {
						color: inherit;
					}
				}
			}
			
			.posts {
				
				a {
					color: inherit;
					text-decoration: none;
					display: block;
					
					&:hover {
						background-color: inherit;
					}
					
					& span {
						padding: 0.2rem;
						transition: all 0.2s ease-in-out;
					}
				}
				
				& > ul {
					padding: 0;
				}
				
				li {
					list-style: none;
					transition: opacity 0.2s ease;
					margin-bottom: 0.5rem;

					&:hover{
						a span {
							background-color: rgb(var(--gray-light));
							border-radius: 3px;
						}
					}
				}
			}

			.navi {
				display: flex;
				align-items: center;
				
				a {
					color: inherit;
					font-weight: 400;
					font-size: var(--sm);
				}

				.by {
					font-size: 0.8rem;
				}
			}
		</style>
	</head>
	<body>
		<main>
			<section>
				<div class="header">
					<h1>이야기</h1>
					<div class="navi">
						<div class="author">
							<span class="by">by</span>
							<a href="/">유지이</a>
						</div>
						<span>・</span>
						<div class="navi_item">
							<a href="/notes">기록</a>
						</div>
					</div>
				</div>
				<div class="posts">
					<ul>
						{
							posts.map((post) => (
								<li>
									<a href={`/writing/${post.slug}/`}><span>{post.data.title}</span></a>
								</li>
							))
						}
					</ul>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
