---
import { getCollection } from 'astro:content';
import { useTranslations } from '../../i18n/utils';
import { BaseHead, Footer } from '@components/index';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const t = useTranslations();
const posts = (await getCollection('writing')).sort((a, b) => {
	return new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf();
});

---

<!doctype html>
<html lang="ko">
	<head>
		<title>writing | jiiyoo.me</title>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">
			.header {
				margin-bottom: 3rem;

				& > span,
				.menu {
					font-size: var(--sm);
				}
			}
			
			.posts {
				a {
					text-decoration: none;
					display: block;
					
					&:hover {
						background-color: inherit;
					}
					
					& span {
						padding: 0.2rem;
						transition: all 0.2s ease-in-out;
					}
				}
				
				& > ul {
					padding: 0;
				}
				
				li {
					list-style: none;
					transition: opacity 0.2s ease;
					margin-bottom: 0.5rem;

					&:hover{
						a span {
							background-color: rgb(var(--gray-light));
							border-radius: 3px;
						}
					}
				}

				.head {
					margin-bottom: 0.5rem;
				}
			}

			.navi {
				display: flex;
				align-items: center;
				
				a {
					color: inherit;
					font-size: var(--sm);
				}

				.by {
					font-size: var(--xs);
				}
			}

			.separator {
				margin: 0 0.5rem;
			}

			.date {
				display: block;
				font-size: var(--xs);
				// text-transform: lowercase;
				color: #aaa;
				margin-left: 0.25rem;
			}
		</style>
	</head>
	<body>
		<main>
			<section>
				<div class="header">
					<h1>{t('home.menu2')['title']}</h1>
					<span>{t('home.menu2')['exp']}</span>
					<div class="navi">
						<div class="author">
							<span class="by">by</span>
							<a href="/">{t('home.name')}</a>
						</div>
						<span class="separator"> … </span>
						<div class="navi_item">
							<a href="/note">{t('home.menu1')['title']}</a>
						</div>
					</div>
				</div>
				<div class="posts">
					<ul>
						{
							posts.map((post) => (
								<li>
									<a href={`/writing/${post.id}/`}>
										<div class="head">
											<div class="date">{new Date(post.data.pubDate).toLocaleDateString('en-us', {
												year: 'numeric',
												month: 'short',
												day: 'numeric',
											})}</div>
											<span>{post.data.title}</span>
										</div>
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
